.header{
  display: flex;
  justify-content: space-between;
  background: #FFFFFF;
  /* shadow */
  box-shadow: 6px 6px 12px rgba(48, 68, 98, 0.12);

  &-logo{
    margin: 10px 50px;
  }

  &-navigation{
    display: flex;
    align-items: center;

    &-list{
      list-style: none;
      display: flex;
      margin-right: 50px;

      &__item{
        &--link {
          display: inline-block;
          padding: 10px 0;
          position: relative;
          text-decoration: none;
          color: #000000; }
        }

        :after{
          bottom: 0;
          content: "";
          display: block;
          height: 1px;
          left: 50%;
          position: absolute;
          background: #000000;
          transition: width 0.3s ease 0s, left 0.3s ease 0s;
          width: 0;
        }

        :hover:after {
          width: 100%;
          left: 0;
      }

      &__item + &__item{
        margin-left: 50px;
      }


    }
  }
}
